.pokemon-image-container {
  background-color: white; /* White background */
  padding: 8px; 
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; 
  overflow: hidden;
}
.pokemon-image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
