main {
  margin-top: 5%;
}
body h1 {
  text-align: center;
}
body {
  background: 	#7f7f7f;
}
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
.pokemon-image-container {
  background-color: white; /* White background */
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
}
.pokemon-image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
#pokedex {
  justify-content: center;
}

.card {
  margin: 10px !important;
  display: flex;
  flex-direction: column;
}
/* NAv bar css */
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  background-color: #adadad;
}
.offcanvas-body {
  flex-grow: 1;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
  background-color: #adadad;
}

.nav-item {
  text-decoration: underline;
  color: black;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
