.pokemon-image-container {
    background-color: white;        /* White background */
    padding: 8px;                   /* Optional padding around the image */
    border-radius: 10px;            /* Optional rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;                  /* Set height for uniformity */
    overflow: hidden;
}
.pokemon-image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}